// Variables
$tap-highlight-color: rgba(0, 0, 0, 0);
$html-body-bg-color: #fff;

// 全局样式处理
*,
*::before,
*::after {
  box-sizing: border-box;
  // 防止点击闪烁

  -webkit-tap-highlight-color: $tap-highlight-color;
  // 缩放网页，字体大小不变

  -webkit-text-size-ajust: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}

// HTML5 display-role reset for order browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  background-color: $html-body-bg-color;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

// 去除虚线
input,
select,
textarea,
button {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  // iOS 禁止页面在新窗口打开

  -webkit-touch-callout: none;
}

// 重置圆角和内阴影
input,
textarea {
  border: 1px solid;
  border-radius: 0;

  -webkit-appearance: none;
}

// 图片响应式缩放
img {
  max-width: 100%;

}

html,
body {
  margin: 0 auto;
  font-size: .2rem;
  font-family:
    'Helvetica Neue', Helvetica,
    'PingFang SC', 'Hiragion Sans GB',
    'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  height: inherit;
  flex-direction: column;
}

html {
  touch-action: manipulation;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}